#!/bin/bash

# Description: This script is for a cron job that pulls the latest version of the repo
# https://github.com/usegalaxy-eu/ansible-tpv-broker.git, if there are any changes,
# it will restart the tpv broker systemd service to apply the changes.

GIT_REPO="{{ tpv_broker_repo }}"

# Check if the git command exists
if ! command -v git &> /dev/null
then
    echo "git command could not be found on the system. Please install git"
    exit 1
fi

# Pull the latest changes if there are any and restart the respective systemd service
if [ -d "{{ tpv_broker_dir }}" ]; then
    cd "{{ tpv_broker_dir }}"
    git fetch origin
    LOCAL=$(git rev-parse HEAD)
    REMOTE=$(git rev-parse @{u})

    if [ $LOCAL != $REMOTE ]; then
        git pull
        echo "Commit id: $REMOTE" > "{{ tpv_broker_dir }}/version"
        systemctl restart tpv-broker.service
        echo "$(date) - The tpv broker systemd service has been restarted"
    fi
else
    echo "The directory {{ tpv_broker_dir }} does not exist. Please clone the repo"
    exit 1
fi

